<div>
  <h4 class="text-white mb-3">Align Content</h4>
  <div>
    <div class="fs-6 mb-2 text-white-50">Align-content: Start</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: flex-start;
      "
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
      <div class="flex-child">Item 4</div>
      <div class="flex-child">Item 5</div>
      <div class="flex-child">Item 6</div>
      <div class="flex-child">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child">Item 9</div>
      <div class="flex-child">Item 10</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Align-content: End</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: flex-end;
      "
    >
      <div class="flex-child" style="flex-grow: 1">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child" style="flex-grow: 4">Item 3</div>
      <div class="flex-child" style="flex-grow: 1">Item 4</div>
      <div class="flex-child" style="flex-grow: 5">Item 5</div>
      <div class="flex-child" style="flex-grow: 2">Item 6</div>
      <div class="flex-child" style="flex-grow: 1">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child" style="flex-grow: 3">Item 9</div>
      <div class="flex-child" style="flex-grow: 5">Item 10</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Align-content: Center</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: center;
      "
    >
      <div class="flex-child" style="flex-grow: 1">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child" style="flex-grow: 4">Item 3</div>
      <div class="flex-child" style="flex-grow: 1">Item 4</div>
      <div class="flex-child" style="flex-grow: 5">Item 5</div>
      <div class="flex-child" style="flex-grow: 2">Item 6</div>
      <div class="flex-child" style="flex-grow: 1">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child" style="flex-grow: 3">Item 9</div>
      <div class="flex-child" style="flex-grow: 5">Item 10</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Align-content: Stretch</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: stretch;
      "
    >
      <div class="flex-child" style="flex-grow: 1">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child" style="flex-grow: 4">Item 3</div>
      <div class="flex-child" style="flex-grow: 1">Item 4</div>
      <div class="flex-child" style="flex-grow: 5">Item 5</div>
      <div class="flex-child" style="flex-grow: 2">Item 6</div>
      <div class="flex-child" style="flex-grow: 1">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child" style="flex-grow: 3">Item 9</div>
      <div class="flex-child" style="flex-grow: 5">Item 10</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Align-content: Space-between</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: space-between;
      "
    >
      <div class="flex-child" style="flex-grow: 1">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child" style="flex-grow: 4">Item 3</div>
      <div class="flex-child" style="flex-grow: 1">Item 4</div>
      <div class="flex-child" style="flex-grow: 5">Item 5</div>
      <div class="flex-child" style="flex-grow: 2">Item 6</div>
      <div class="flex-child" style="flex-grow: 1">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child" style="flex-grow: 3">Item 9</div>
      <div class="flex-child" style="flex-grow: 5">Item 10</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Align-content: Space-around</div>
    <div
      class="flex-parent"
      style="
        height: 300px;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        align-content: space-around;
      "
    >
      <div class="flex-child" style="flex-grow: 1">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child" style="flex-grow: 4">Item 3</div>
      <div class="flex-child" style="flex-grow: 1">Item 4</div>
      <div class="flex-child" style="flex-grow: 5">Item 5</div>
      <div class="flex-child" style="flex-grow: 2">Item 6</div>
      <div class="flex-child" style="flex-grow: 1">Item 7</div>
      <div class="flex-child">Item 8</div>
      <div class="flex-child" style="flex-grow: 3">Item 9</div>
      <div class="flex-child" style="flex-grow: 5">Item 10</div>
    </div>
  </div>
</div>
