<div>
  <h4 class="text-white mb-3">Justify Content</h4>
  <div>
    <div class="fs-6 mb-2 text-white-50">Justify-content: End</div>
    <div
      class="flex-parent"
      style="display: flex; gap: 1rem; justify-content: end"
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Justify-content: Center</div>
    <div
      class="flex-parent"
      style="display: flex; gap: 1rem; justify-content: center"
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Justify-content: Space-between</div>
    <div
      class="flex-parent"
      style="display: flex; gap: 1rem; justify-content: space-between"
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Justify-content: Space-around</div>
    <div
      class="flex-parent"
      style="display: flex; gap: 1rem; justify-content: space-around"
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
    </div>

    <div class="fs-6 mb-2 text-white-50">Justify-content: Space-evenly</div>
    <div
      class="flex-parent"
      style="display: flex; gap: 1rem; justify-content: space-evenly"
    >
      <div class="flex-child">Item 1</div>
      <div class="flex-child">Item 2</div>
      <div class="flex-child">Item 3</div>
    </div>
  </div>
</div>
