
    <div class="card bg-dark border-secondary shadow-sm">
      <div class="card-header border-secondary bg-body-tertiary">
        <h2 class="text-white mb-3"><i class="bi bi-award text-primary"></i> Angular 18 Avançado</h2>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="control-flow" routerLinkActive="active">Controle de Fluxo (&#64;if/&#64;for)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="signal-io" routerLinkActive="active">Signal Inputs & Outputs</a>
          </li>
        </ul>
      </div>
      <div class="card-body bg-dark">
        <router-outlet></router-outlet>
      </div>
    </div>
  