<div>
  <h4 class="text-white mb-3">Align Items</h4>
  <div class="row g-3">
    <div class="col-6">
      <div class="fs-6 mb-2 text-white-50">Align-items: Start</div>
      <div
        class="flex-parent"
        style="
          height: 200px;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: start;
        "
      >
        <div class="flex-child" style="height: 6rem">Item 1</div>
        <div class="flex-child" style="height: 9rem">Item 2</div>
        <div class="flex-child" style="height: 4rem">Item 3</div>
      </div>
    </div>

    <div class="col-6">
      <div class="fs-6 mb-2 text-white-50">Align-items: End</div>
      <div
        class="flex-parent"
        style="
          height: 200px;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: end;
        "
      >
        <div class="flex-child" style="height: 6rem">Item 1</div>
        <div class="flex-child" style="height: 9rem">Item 2</div>
        <div class="flex-child" style="height: 4rem">Item 3</div>
      </div>
    </div>

    <div class="col-6">
      <div class="fs-6 mb-2 text-white-50">Align-items: Center</div>
      <div
        class="flex-parent"
        style="
          height: 200px;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: center;
        "
      >
        <div class="flex-child" style="height: 6rem">Item 1</div>
        <div class="flex-child" style="height: 9rem">Item 2</div>
        <div class="flex-child" style="height: 4rem">Item 3</div>
      </div>
    </div>

    <div class="col-6">
      <div class="fs-6 mb-2 text-white-50">Align-items: Baseline</div>
      <div
        class="flex-parent"
        style="
          height: 200px;
          display: flex;
          gap: 1rem;
          justify-content: space-between;
          align-items: baseline;
        "
      >
        <div class="flex-child" style="padding-bottom: 50px">Item 1</div>
        <div class="flex-child" style="padding-top: 50px">Item 2</div>
        <div class="flex-child" style="padding-top: 50px; padding-bottom: 50px">
          Item 3
        </div>
      </div>
    </div>

    <div class="col-12">
      <div class="fs-6 mb-2 text-white-50">Align-items: Stretch</div>
      <div
        class="flex-parent"
        style="
          height: 200px;
          display: flex;
          gap: 0.5rem;
          justify-content: space-between;
          align-items: stretch;
        "
      >
        <div class="flex-child" style="flex-grow: 1">Item 1</div>
        <div class="flex-child" style="flex-grow: 1">Item 2</div>
        <div class="flex-child" style="flex-grow: 1">Item 3</div>
      </div>
    </div>
  </div>
</div>
