
    <div class="card bg-dark border-secondary shadow-sm">
      <div class="card-header border-secondary bg-body-tertiary">
        <h2 class="text-white mb-3"><i class="bi bi-shuffle text-success"></i> RxJS (Programação Reativa)</h2>
        <ul class="nav nav-tabs card-header-tabs">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="subscribe" routerLinkActive="active">Observable & Subscribe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="subjects" routerLinkActive="active">Subjects & BehaviorSubjects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="operators" routerLinkActive="active">Operadores Comuns</a>
          </li>
        </ul>
      </div>
      <div class="card-body bg-dark">
        <router-outlet></router-outlet>
      </div>
    </div>
  