<div class="g-4">
  <div>
    <h4 class="text-white mb-2">Flexbox</h4>
  </div>
  <div class="fs-6 mb-2 text-white-50">Display: Flex | Gap: 1rem</div>
  <div class="flex-parent" style="display: flex; gap: 1rem">
    <div class="flex-child">Item 1</div>
    <div class="flex-child">Item 2</div>
    <div class="flex-child">Item 3</div>
  </div>

  <div>
    <h4 class="text-white mb-2">Gap (Geral)</h4>
  </div>
  <div class="fs-6 mb-2 text-white-50">
    Display: Flex | Flex-wrap: Wrap | Gap: 1rem
  </div>
  <div class="flex-parent" style="display: flex; flex-wrap: wrap; gap: 1rem">
    <div class="flex-child" style="min-width: 130px">Item 1</div>
    <div class="flex-child" style="min-width: 130px">Item 2</div>
    <div class="flex-child" style="min-width: 130px">Item 3</div>
    <div class="flex-child" style="min-width: 130px">Item 4</div>
    <div class="flex-child" style="min-width: 130px">Item 5</div>
    <div class="flex-child" style="min-width: 130px">Item 6</div>
    <div class="flex-child" style="min-width: 130px">Item 7</div>
    <div class="flex-child" style="min-width: 130px">Item 8</div>
    <div class="flex-child" style="min-width: 130px">Item 9</div>
    <div class="flex-child" style="min-width: 130px">Item 10</div>
  </div>

  <div>
    <h4 class="text-white mb-2">Row Gap</h4>
  </div>
  <div class="fs-6 mb-2 text-white-50">
    Display: Flex | Flex-wrap: Wrap | Row-gap: 1rem | Column-gap: 0px
  </div>
  <div
    class="flex-parent"
    style="display: flex; flex-wrap: wrap; row-gap: 1rem; column-gap: 0"
  >
    <div class="flex-child" style="min-width: 150px">Item 1</div>
    <div class="flex-child" style="min-width: 150px">Item 2</div>
    <div class="flex-child" style="min-width: 150px">Item 3</div>
    <div class="flex-child" style="min-width: 150px">Item 4</div>
    <div class="flex-child" style="min-width: 150px">Item 5</div>
    <div class="flex-child" style="min-width: 150px">Item 6</div>
    <div class="flex-child" style="min-width: 150px">Item 7</div>
    <div class="flex-child" style="min-width: 150px">Item 8</div>
    <div class="flex-child" style="min-width: 150px">Item 9</div>
    <div class="flex-child" style="min-width: 150px">Item 10</div>
  </div>

  <div>
    <h4 class="text-white mb-2">Column Gap</h4>
  </div>
  <div class="fs-6 mb-2 text-white-50">
    Display: Flex | Flex-wrap: Wrap | Column-gap: 1rem | Row-gap: 0px
  </div>
  <div
    class="flex-parent"
    style="display: flex; flex-wrap: wrap; column-gap: 1rem; row-gap: 0"
  >
    <div class="flex-child" style="min-width: 150px">Item 1</div>
    <div class="flex-child" style="min-width: 150px">Item 2</div>
    <div class="flex-child" style="min-width: 150px">Item 3</div>
    <div class="flex-child" style="min-width: 150px">Item 4</div>
    <div class="flex-child" style="min-width: 150px">Item 5</div>
    <div class="flex-child" style="min-width: 150px">Item 6</div>
    <div class="flex-child" style="min-width: 150px">Item 7</div>
    <div class="flex-child" style="min-width: 150px">Item 8</div>
    <div class="flex-child" style="min-width: 150px">Item 9</div>
    <div class="flex-child" style="min-width: 150px">Item 10</div>
  </div>
</div>
